/* CSS Document */


/* iphone 5 & 5S portrait */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 374px)
and (orientation : portrait) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 50%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 11px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 100%;
	width: 80%;
	margin-left: 12%;
	margin-right: 8%;
}

div .slideshow {
	width: 80%;
	height: 80%;
	margin-left: 8%;
	
	border-radius: 0px;
	padding: 0px;
	box-shadow: 0px 0px 0px #6f0000;
	margin-bottom: 0px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone 5 & 5S portrait */

/* iphone 5 & 5S landscape */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	display: none;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 24px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 250px;
	width: 80%;
	margin-left: 12%;
	margin-right: 8%;
}

div .slideshow {
	width: 80%;
	height: 80%;
	margin-left: 8%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone 5 & 5S landscape */


/* iphone 6, 7, & 8 portrait */
@media only screen 
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}
	
body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 50%;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

div .wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 14px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 100%;
	width: 80%;
	margin-left: 12%;
	margin-right: 10%;
}

div .slideshow {
	width: 100%;
	height: 100%;
	margin-left: 7%;
	margin-right: 7%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}	
	
	
}
/* end iphone 6, 7, & 8 portrait */


/* iphone 6, 7, & 8 landscape */
@media only screen 
and (min-device-width : 569px)
and (max-device-width : 667px)
and (orientation : landscape) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 100%;
	height: 40%;
}

#tree_rows {
	width: 100%;
	height: 30%;
}

.branch-picture {
	width: 50%;
	height: 50%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 34px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 250px;
	width: 80%;
	margin-left: 12%;
	margin-right: 8%;
}

div .slideshow {
	width: 80%;
	height: 80%;
	margin-left: 8%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone 6, 7, & 8 landscape */


/* iphone 6, 7, & 8 PLUS portrait */
@media only screen 
and (min-device-width : 414px)
and (max-device-width : 736px)  
and (orientation : portrait) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 50%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 16px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 100%;
	width: 80%;
	margin-left: 12%;
	margin-right: 10%;
}

div .slideshow {
	width: 100%;
	height: 100%;
	margin-left: 7%;
	margin-right: 7%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone 6, 7, & 8 PLUS portrait */


/* iphone 6, 7, & 8 PLUS landscape */
@media only screen 
and (min-device-width : 414px)
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation : landscape) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 40%;
}

#tree_rows {
	width: 90%;
	height: 30%;
}

.branch-picture {
	width: 50%;
	height: 50%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 32px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 75vh;
	width: 130vh;
	margin-left: 15%;
}

div .slideshow {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone 6, 7, & 8 PLUS landscape */


/* pixel 2 landscape */
@media only screen 
and (min-device-width : 668px)
and (max-device-width : 736px)
and (orientation : landscape) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 40%;
}

#tree_rows {
	width: 90%;
	height: 30%;
}

.branch-picture {
	width: 50%;
	height: 50%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 34px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 75vh;
	width: 130vh;
	margin-left: 15%;
}

div .slideshow {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end pixel 2 landscape */


/* iphone x portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 413px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 50%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

div .wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 14px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 100%;
	width: 80%;
	margin-left: 12%;
	margin-right: 10%;
}

div .slideshow {
	width: 100%;
	height: 100%;
	margin-left: 7%;
	margin-right: 7%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone x portrait */


/* iphone x landscape */
/* also affects ipad landscape */
@media only screen 
and (min-device-width : 737px)
and (max-device-width : 812px)
and (orientation : landscape) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 60%;
	height: 40%;
}

#tree_rows {
	width: 90%;
	height: 40%;
}

.branch-picture {
	width: 40%;
	height: 40%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 38px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}
iframe {
	height: 75vh;
	width: 130vh;
}

div .slideshow {
	width: 80%;
	height: 80%;
	margin-left: 3%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone x landscape */


/* ipad portrait */
@media only screen 
and (min-device-width : 737px) 
and (max-device-width : 991px) 
and (orientation : portrait) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 40%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

#tree_rows {
	width: 90%;
	height: 35%;
}

.header {
	background-color: #006F3A;
}

div .wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 24px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 30vh;
	width: 60vh;
	margin-left: 2%;
}

div .slideshow {
	width: 60%;
	height: 600%;
	margin-left: 7%;
	margin-right: 7%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end ipad portrait */


/* pixel 2 xl landscape */
@media only screen 
and (min-device-width : 813px) 
and (max-device-width : 991px) 
and (orientation : landscape) {

html,
body {
  height: 102%;
}

#page-content {
  flex: 1 0 auto;
}

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#opening {
	width: 100%;
	height: 100%;
}

#owners {
	width: 80%;
	height: 40%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

#tree_rows {
	width: 90%;
	height: 35%;
}

.header {
	background-color: #006F3A;
}

div .wtf-header {
	width: 100%;
	height: 100%;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

div a h5 {
	font-weight: bold;
	font-family: 'Sofia';
	font-size: 24px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.border-danger {
	margin-left: 5%;
}

div iframe {
	height: 70vh;
	width: 120vh;
	margin-left: 2%;
}

div .slideshow {
	width: 60%;
	height: 600%;
	margin-left: 7%;
	margin-right: 7%;
	
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end pixel 2 xl landscape */


/* desktop */
@media only screen 
and (min-device-width : 992px) {
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

body {
/* 	background-color: #006F3A; */
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

.header {
	background-color: #006F3A;
}

h5 {
	font-weight: bold;
	color: #006F3A;
	font-family: 'Sofia';
	font-size: 22px;
}

.standout {
	font-family: 'Sofia';
	font-size: 16px;
}

.slideshow {
/* 	border: 3px dashed black; */
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 10px 30px #6f0000;
	margin-bottom: 25px;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.pad-thefarm, .sliderFrame-thefarm {
	padding-left: 20px;
	padding-right: 20px;
}
}
/* end desktop */




/*Start image slider css*/

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
/*slider frame*/
#sliderFrame {
	position:relative;
}      

#slider, #slider div.sliderInner {
    width:310px;height:296px;/* Must be the same size as the slider images */
}

#slider 
{
	background:transparent no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}

/* the link style (if slide image is wrapped in a link) */
#slider a.imgLink, #slider .video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
/* Not set as each slide has no caption in this demo. */


/* ------ built-in navigation bullets wrapper ------*/
#slider div.navBulletsWrapper  {
	display:none;
	
}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}



/*----------- navigation buttons on both sides of the slider -----------*/
/*
.group1-Wrapper 
{
    position:absolute;
    z-index:20;
    top:120px;
    margin-left:50%; position it in the middle of #sliderFrame
    width:1px;
}
a.group1-Prev, a.group1-Next
{
    width:50px;height:150px;
    background:transparent url(navbuttons2.gif); 
    display:block; 
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group1-Prev{background-position:0 0; left: -220px;}
a.group1-Next {background-position:0 -150px;left: 135px;}

a.group1-Prev:hover{background-position:50px 0;}
a.group1-Next:hover {background-position:50px -150px;}
*/
/*End image slider css*/