/* CSS Document */

/* iphone x */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 350px;
	height: 120px;
}

h5 {
	font-weight: bold;
	font-size: 14px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

iframe {
	height: 200px;
	width: 100%;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 35px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}

/* end iphone x */



/* iphone 6, 7, & 8 */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	
body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 350px;
	height: 110px;
}

h5 {
	font-weight: bold;
	font-size: 12px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

iframe {
	height: 200px;
	width: 100%;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 35px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}	
	
	
}
/* end iphone 6, 7, & 8 */




/* iphone 6, 7, & 8 plus */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 350px;
	height: 110px;
}

h5 {
	font-weight: bold;
	font-size: 14px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

iframe {
	height: 200px;
	width: 100%;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 50px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}
} /* end iphone 6, 7, & 8 plus */



/* iphone 5 & 5S */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

body {
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

.branch-picture {
	display: none;
}

.header {
	background-color: #006F3A;
}

.wtf-header {
	width: 290px;
	height: 90px;
}

h5 {
	font-weight: bold;
	font-size: 10px;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

iframe {
	height: 200px;
	width: 100%;
}

.pad-index {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-thefarm {
	padding-left: 8px;
}
.pad-treechoices {
	padding-left: 10px;
	padding-right: 10px;
}
.pad-purchase {
	padding-left: 10px;
	padding-right: 10px;
}

}
/* end iphone 5 & 5S */




/* desktop */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #006F3A;
  color: white;
  margin-right: -15px;
}

body {
/* 	background-color: #006F3A; */
	background-image: url("images/background.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006F3A;
	text-decoration: none;
}

.header {
	background-color: #006F3A;
}

h5 {
	font-weight: bold;
	color: #006F3A;
}

a:hover {
	color: black;
	text-decoration: underline;
	text-decoration-color: #006F3A;
}

.pad-thefarm, .sliderFrame-thefarm {
	padding-left: 20px;
	padding-right: 20px;
}

/*Start image slider css*/



#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
/*slider frame*/
#sliderFrame {
	position:relative;
}      

#slider, #slider div.sliderInner {
    width:310px;height:296px;/* Must be the same size as the slider images */
}

#slider 
{
	background:transparent no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}

/* the link style (if slide image is wrapped in a link) */
#slider a.imgLink, #slider .video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
/* Not set as each slide has no caption in this demo. */


/* ------ built-in navigation bullets wrapper ------*/
#slider div.navBulletsWrapper  {
	display:none;
	
}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}



/*----------- navigation buttons on both sides of the slider -----------*/
/*
.group1-Wrapper 
{
    position:absolute;
    z-index:20;
    top:120px;
    margin-left:50%; position it in the middle of #sliderFrame
    width:1px;
}
a.group1-Prev, a.group1-Next
{
    width:50px;height:150px;
    background:transparent url(navbuttons2.gif); 
    display:block; 
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group1-Prev{background-position:0 0; left: -220px;}
a.group1-Next {background-position:0 -150px;left: 135px;}

a.group1-Prev:hover{background-position:50px 0;}
a.group1-Next:hover {background-position:50px -150px;}
*/
/*End image slider css*/